name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / ${{ matrix.gemfile }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.0', '3.1', '3.2', '3.3', '3.4' ]
        gemfile:
          - rails_6_1
          - rails_7_0
          - rails_7_1
          - rails_7_2
          - rails_8_0
        exclude:
          - ruby: '3.0'
            gemfile: rails_8_0
          - ruby: '3.1'
            gemfile: rails_8_0
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
        cache-version: ${{ matrix.gemfile }}
    - name: Install dependencies
      run: |
        if [ "${{matrix.ruby}}" = "3.0" ]; then
          gem update --system 3.5.23
        else
          gem update --system
        fi
        gem install bundler --no-document
        bundle install --jobs 4 --retry 3
    - name: Run test
      run: bundle exec rake test
